<header>
    <nav>
        <a href="/" class="logo">
            <img src="../../img/logo.png" alt="Weather App">
        </a>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/help">Help</a></li>
        </ul>
    </nav>
    <h1>{{ title }}</h1>
</header>