body {
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #FFF;
}
header {
    .logo {
        width: 150px;
    }
}
img {
    width: 200px;
    border-radius: 1rem;
}